<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alltoys</title>
</head>
<body>
    <div>
        TOYS
    </div>
    <div>
        <table>
            <tr>
                <td style="width: 100px"><a href="{% url "toys:toys"%}">Toys</a></td>
                <td style="width: 100px"><a href="{% url "toys:users"%}">Users</a></td>
            </tr>
        </table>
        <hr>
        <table>
            {% for toy in toys %}
                <tr>
                <td>{{ forloop.counter}}</td>
               <td><a href="{% url 'toys:toy_detail' toy.id %}">{{ toy.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>