<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Alltoys</title>
</head>
<body>
    <div>
        TOYS
    </div>
    <div>
        <table>
            <tr>
                <td style="width: 100px"><a href="{% url "toys:toys"%}">Toys</a></td>
                <td style="width: 100px"><a href="{% url "toys:users"%}">Users</a></td>
            </tr>
        </table>
        <hr>
       <div>
           {{toys.name}}
       </div>
        <div>
           {{toys.user.first_name}} {{toys.user.last_name}}
        </div>
        <div>
           {{toys.description}}
        </div>

    </div>
</body>
</html>