<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Markets</title>
</head>
<body>
    <div>
      Markets
    </div>
    <div>
        <table>
            <tr>
                <td style="width: 100px"><a href="{% url 'markets:dashboard'%}">Back</a></td>
            </tr>
        </table>
        <hr>
        <table>
             {% for mar in object_list %}
                <tr>
                <td>{{ forloop.counter}}</td>
                <td> <a href="{% url 'markets:market_detail' mar.id %}">{{ mar.name }}</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>
</body>
</html>